* {
	margin: 0;
	padding: 0;
}

body {
	background: #B5B5B5;
	color: #333;
}

#div_Container {
	margin: 0 auto;
	width: 900px;
	height: auto;
}

#div_Container #div_Topo {
	float: left;
	width: 100%;
	height: 120px;
	background: #FFFFFF;
	margin-top: 5px;
	text-align: center;
}

#div_Container #div_Menu {
	float: left;
	width: 100%;
	height: 40px;
	background: #FFFFFF;
	text-align: center;
}

#div_Container #div_Menu ul {
	margin: 10px;
}

#div_Container #div_Menu ul li {
	list-style-type: none;
	display: inline;
}

#div_Container #div_Menu ul li a {
	text-decoration: none;
	color: #000000;
	padding: 15px;
	font-size: 20px;
}

#div_Container #div_Menu ul li a:hover {
	color: #CD1076;
}

#div_Container #div_Conteudo {
	float: left;
	width: 100%;
	background: #DEDEDE;
	height: 370px;
}

#pTexto {
	margin: 28px;
	font-family: Arial;
}

#form_usuario {
	float: left;
	width: 250px;
	height: auto;
	background: #CCC;
	padding: 50px;
	margin-top: 10px;
	margin-left: 300px;
	font-size: 14px;
	font-family: Verdana;
}

#form_usuario input[type="text"], input[type="password"] {
	width: 240px;
	height: 20px;
	border-radius: 5px;
	border: 1px solid #CCC;
	margin-left: 5px;
}

#form_usuario input[type="submit"] {
	width: 100px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #EBEBEB;
	margin-left: 70px;
}

#div_Container #div_Rodape {
	float: left;
	width: 100%;
	height: 45px;
	background: #FFFFFF;
	border-bottom: 1px solid #000;
}

#div_Container #div_Rodape span {
	float: left;
	font-size: 14px;
	padding-top: 16px;
	padding-left: 300px;
}

/* Personalizar tabela */

table {font: 85% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;padding: 0; margin: 0; border-collapse: collapse; color: ####; background: #F3F5F7;}
table a {color: #3A4856; text-decoration: nome; border-bottom: 1px solid #C6C8CB;}
table a:visited {color: #777;}
table a:hover {color: #000;}
table caption {text-align: left; text-transform: uppercase; padding-bottom: 18px; font: 200% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;}
table thead th {background: #828282; padding: 15px 10px; color: #FFF; text-align: left; font-weight: normal;}
table tbody, table thead {border-left: 1px solid #EAECEE; border-right: 1px solid #EAECEE;}
table tbody {border-bottom: 1px solid #EAECEE;}
table tbody td, table tbody th {padding: 10px; background: url("td_back.gif") repeat-x; text-align: left;}
table tbody tr {background: #F3F5F7;}
table tbody tr.odd {background: #F0F2F4;}
table tbody tr:hover {background: #EAECEE; color: #111;}
table tfoot td, table tfoot th, table tfoot tr {text-align: left; font: 120% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;
text-transform: uppercase; background: #FFF; padding: 10px;}
